.gallery {
    margin-right:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .thumbnail {
        border: solid gray 1px;
        margin: 20px;

        img {
            width: 100px;
            height: 100px
        }
    }
}
.filter {
    img {
        width: 350px;
    }

    @media (max-width: 1024px) {
        img {
            width: 100%;
        }
    }
}
